In [16]:
import pandas as pd

# Sample dataset
data = {
    "Product": ["Laptop", "Sofa", "Phone", "Table", "Chair", "TV"],
    "Category": ["Electronics", "Furniture", "Electronics", "Furniture", "Furniture", "Electronics"],
    "Price": [900, 1200, 700, 300, 150, 1100],
    "Quantity Sold": [50, 20, 120, 45, 80, 60],
    "City": ["New York", "Chicago", "Los Angeles", "New York", "Chicago", "Los Angeles"]
}

df = pd.DataFrame(data)

print("Sales Data:\n", df)

high_selling = df[df["Quantity Sold"] > 50]
print("\nHigh-Selling Products:\n", high_selling)

ny_sales = df[df["City"] == "New York"]
print("\nSales from New York:\n", ny_sales)

price_range = df[(df["Price"] >= 300) & (df["Price"] <= 1000)]
print("\nProducts in Price Range 300–1000:\n", price_range)

Sales Data:
   Product     Category  Price  Quantity Sold         City
0  Laptop  Electronics    900             50     New York
1    Sofa    Furniture   1200             20      Chicago
2   Phone  Electronics    700            120  Los Angeles
3   Table    Furniture    300             45     New York
4   Chair    Furniture    150             80      Chicago
5      TV  Electronics   1100             60  Los Angeles

High-Selling Products:
   Product     Category  Price  Quantity Sold         City
2   Phone  Electronics    700            120  Los Angeles
4   Chair    Furniture    150             80      Chicago
5      TV  Electronics   1100             60  Los Angeles

Sales from New York:
   Product     Category  Price  Quantity Sold      City
0  Laptop  Electronics    900             50  New York
3   Table    Furniture    300             45  New York

Products in Price Range 300–1000:
   Product     Category  Price  Quantity Sold         City
0  Laptop  Electronics    900             50     New York
2   Phone  Electronics    700            120  Los Angeles
3   Table    Furniture    300             45     New York

In [17]:
df_first_3 = df.iloc[:3]
print(df_first_3)

filtered_cities = df[df["City"].isin(["New York", "Chicago"])] 
print("\n", filtered_cities)

mid_price_products = df[df["Price"].between(200, 800)] 
print("\n",mid_price_products)

df_indexed = df.set_index("Product") 
print("\n",df_indexed)

df_reset = df_indexed.reset_index() 
print("\n",df_reset)

  Product     Category  Price  Quantity Sold         City
0  Laptop  Electronics    900             50     New York
1    Sofa    Furniture   1200             20      Chicago
2   Phone  Electronics    700            120  Los Angeles

   Product     Category  Price  Quantity Sold      City
0  Laptop  Electronics    900             50  New York
1    Sofa    Furniture   1200             20   Chicago
3   Table    Furniture    300             45  New York
4   Chair    Furniture    150             80   Chicago

   Product     Category  Price  Quantity Sold         City
2   Phone  Electronics    700            120  Los Angeles
3   Table    Furniture    300             45     New York

             Category  Price  Quantity Sold         City
Product
Laptop   Electronics    900             50     New York
Sofa       Furniture   1200             20      Chicago
Phone    Electronics    700            120  Los Angeles
Table      Furniture    300             45     New York
Chair      Furniture    150             80      Chicago
TV       Electronics   1100             60  Los Angeles

   Product     Category  Price  Quantity Sold         City
0  Laptop  Electronics    900             50     New York
1    Sofa    Furniture   1200             20      Chicago
2   Phone  Electronics    700            120  Los Angeles
3   Table    Furniture    300             45     New York
4   Chair    Furniture    150             80      Chicago
5      TV  Electronics   1100             60  Los Angeles