In [1]:
import pandas as pd

# Sample Employee Salary Data
data = {
    "Employee": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank", "Grace", "Helen"],
    "Department": ["HR", "Finance", "IT", "Finance", "IT", "HR", "IT", "Finance"],
    "Salary": [40000, 55000, 60000, 45000, 75000, 38000, 72000, 50000]
}

df = pd.DataFrame(data)
print(df)

# Categorize employees into Low / Medium / High salary groups
df["Salary_Category"] = df["Salary"].apply(
    lambda x: "Low" if x < 45000 else ("Medium" if x < 65000 else "High")
)

print(df[["Employee", "Salary", "Salary_Category"]])

dept_summary = df.groupby("Department").agg(
    Average_Salary=("Salary", "mean"),
    Max_Salary=("Salary", "max"),
    Min_Salary=("Salary", "min"),
    Employee_Count=("Employee", "count")
).reset_index()

print(dept_summary)

pivot_table = pd.pivot_table(
    df,
    values="Salary",
    index="Department",
    columns="Salary_Category",
    aggfunc="count",
    fill_value=0
)

print(pivot_table)
sorted_employees = df.sort_values(by="Salary", ascending=False)
print(sorted_employees)

  Employee Department  Salary
0    Alice         HR   40000
1      Bob    Finance   55000
2  Charlie         IT   60000
3    David    Finance   45000
4      Eva         IT   75000
5    Frank         HR   38000
6    Grace         IT   72000
7    Helen    Finance   50000
  Employee  Salary Salary_Category
0    Alice   40000             Low
1      Bob   55000          Medium
2  Charlie   60000          Medium
3    David   45000          Medium
4      Eva   75000            High
5    Frank   38000             Low
6    Grace   72000            High
7    Helen   50000          Medium
  Department  Average_Salary  Max_Salary  Min_Salary  Employee_Count
0    Finance         50000.0       55000       45000               3
1         HR         39000.0       40000       38000               2
2         IT         69000.0       75000       60000               3
Salary_Category  High  Low  Medium
Department
Finance             0    0       3
HR                  0    2       0
IT                  2    0       1
  Employee Department  Salary Salary_Category
4      Eva         IT   75000            High
6    Grace         IT   72000            High
2  Charlie         IT   60000          Medium
1      Bob    Finance   55000          Medium
7    Helen    Finance   50000          Medium
3    David    Finance   45000          Medium
0    Alice         HR   40000             Low
5    Frank         HR   38000             Low