In [1]:
import pandas as pd

employee_details_data = {
    "EmployeeID": [1,2,3,4,5],
    "Name": ["Alice","Bob","Charlie","David","Eva"],
    "Department": ["HR","Finance","IT","Marketing","IT"]
}
df_employees = pd.DataFrame(employee_details_data)
employee_salary_data = {
    "EmployeeID": [1,2,3,4],
    "Salary": [50000,60000,55000,65000]
}
df_salary = pd.DataFrame(employee_salary_data)

df_employees.to_csv("employee_details.csv", index=False)
df_salary.to_csv("employee_salary.csv", index=False)
print("✅ Sample employee datasets created")

✅ Sample employee datasets created

In [2]:
# 2️ Join Employee Details with Salary

df_employees_indexed = df_employees.set_index("EmployeeID")
df_salary_indexed = df_salary.set_index("EmployeeID")

# Use join() to combine
df_employee_full = df_employees_indexed.join(df_salary_indexed, how="left")
print("\nEmployee Details with Salary:\n", df_employee_full)

# 3️ Concatenate New Employee Records

new_employees = pd.DataFrame({
    "EmployeeID": [6,7],
    "Name": ["Frank","Grace"],
    "Department": ["HR","IT"]
}).set_index("EmployeeID")

df_employee_full = pd.concat([df_employee_full, new_employees], axis=0)
print("\nAfter adding new employees:\n", df_employee_full)

# 4️ Handle Missing Salaries

# Fill missing salaries with 0 or a default value
df_employee_full["Salary"] = df_employee_full["Salary"].fillna(0)
print("\nAfter filling missing salaries:\n", df_employee_full)


df_employee_full.to_csv("final_employee_database.csv")
print("✅ Final integrated employee database exported to final_employee_database.csv")

Employee Details with Salary:
                Name Department   Salary
EmployeeID
1             Alice         HR  50000.0
2               Bob    Finance  60000.0
3           Charlie         IT  55000.0
4             David  Marketing  65000.0
5               Eva         IT      NaN

After adding new employees:
                Name Department   Salary
EmployeeID
1             Alice         HR  50000.0
2               Bob    Finance  60000.0
3           Charlie         IT  55000.0
4             David  Marketing  65000.0
5               Eva         IT      NaN
6             Frank         HR      NaN
7             Grace         IT      NaN

After filling missing salaries:
                Name Department   Salary
EmployeeID
1             Alice         HR  50000.0
2               Bob    Finance  60000.0
3           Charlie         IT  55000.0
4             David  Marketing  65000.0
5               Eva         IT      0.0
6             Frank         HR      0.0
7             Grace         IT      0.0
✅ Final integrated employee database exported to final_employee_database.csv